// Page
$page-background: #FAFAFA

// Button
$button-merij-bg: #ED2F59
$button-merij-bg-active: #E11440
$button-merij-text: #FFF


// input-group
$input-bg: #FFF
$input-border-radius: 5px
$input-focus-border-color: #ED2F59
$input-disabled-bg: #EEE
