// Page
$page-background: #FAFAFA

// Layout Dashboard
$lyt-dashboard-header-bg: #FFF
$lyt-dashboard-header-height: 60px
$lyt-dashboard-header-button-border: 2px solid #DDD
$lyt-dashboard-border: 1px solid #CCC
$lyt-dashboard-menu-bg: #FFF
$lyt-dashboard-menu-width: 250px
$lyt-dashboard-menu-bullet: #ED2F59

// Form
$form-bg: #FFF

// Input
$input-bg: #FFF
$input-border-radius: 5px
$input-focus-border-color: #ED2F59
$input-disabled-bg: #EEE

// Button
$button-merij-bg: #ED2F59
$button-merij-bg-active: #E11440
$button-merij-text: #FFF

// Link
$link-color: #337AB7
$link-color-active: #23527C

// Logo copyright
$logo-subtext: #000
