@import ../../config

.datatable
  display: flex
  flex-direction: column
  position: relative
  width: 100%
  height: 100%

  > .header
    align-items: center
    background: $datatable-header-bg
    border-bottom: $datatable-header-border
    display: flex
    padding: $datatable-header-padding
    height: $datatable-header-height

    .hidden-wrapper
      background: $datatable-header-hidden-wrapper-bg
      display: none
      padding: $datatable-header-hidden-wrapper-padding
      position: absolute
      top: $datatable-header-height
      left: 0px
      width: 100%
      &.is-open
        border-bottom: $datatable-header-border
        display: block

      .item
        > .title, > .value
          display: inline-block
          font-size: 0.8rem
          vertical-align: middle

        > .title
          text-transform: lowercase
          &::after
            content: " : "
          & + .value
            margin-left: 5px

        > .value
          .label
            &.is-inactive
              background: $datatable-header-hidden-wrapper-label-inactive-bg
              color: $datatable-header-hidden-wrapper-label-inactive-color

    .btn
      &:nth-child(n+2)
        margin-left: 5px

  > .content
    flex: 1
    padding-top: $datatable-header-height

    ol, ul
      list-style: none
      padding: 0
      li
        padding: $datatable-content-listitem-padding
        &:nth-child(n+2)
          border-top: $datatable-content-listitem-border

        .item-title
          a
            display: flex
            text-decoration: none
            max-width: 100%
            &:hover, &:focus
              > .text
                text-decoration: underline

            > .status, > .text
              display: inline-block
              vertical-align: top
              &:nth-child(n+2)
                margin-left: 5px

            > .text
              flex: 1
              overflow: hidden
              text-overflow: ellipsis
              white-space: nowrap
              width: 1px

        .item-sub
          font-size: 0.8rem
          margin-top: 5px
          > .item
            display: inline-block
            &:nth-child(n+2)
              margin-left: 10px

            > .title
              text-transform: lowercase
              &::after
                content: " : "

            > .value
              background: $datatable-content-listitem-sub-value-bg
              border: $datatable-content-listitem-sub-value-border
              border-radius: 4px
              color: $datatable-content-listitem-sub-value-color
              padding: $datatable-content-listitem-sub-value-padding
